@addTagHelper *, Syncfusion.EJ2
@using Behoof.Infrastructure.Data;
@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/Favorite/Favorite.css" />
<script src="https://cdn.syncfusion.com/ej2/28.1.33/dist/ej2.min.js"></script>
@if(Model.Count <= 0){
    <div class="error">
        <div class="error-container">
            <h1>Пусто</h1>
            <h2>Товары не найдены</h2>
            <p>Добавьте товар в избранное, что бы увидеть здесь чудо</p>
            <a href="#" class="goto-home">На главную</a>
        </div>
    </div>
}
else{
    <div class="container">
        <div class="favorite">
            <h2 class="favofite-title">Избранное</h2>

            <form class="favorite-form">
                <a href="#">Все</a>
                <a href="#">Смартфоны</a>
                <a href="#">Телевизоры</a>
                <a href="#">Пылесосы</a>
            </form>

            <div class="favorite-items">
                
                @foreach (var item in Model)
                {
                    <div class="favorite-item-container">
                        <div class="favorite-item">
                            <div class="favorite-item-top">
                                <div class="faovite-item-image">
                                    <img src="@item.ImageLink" alt="">
                                </div>
                                <div class="favorite-item-top-right">
                                    <p class="favorite-item-top-right-category"></p>
                                    <p class="favorite-item-top-right-product-name">@item.Name</p>
                                    <div class="favorite-item-top-right-manage">
                                        <a href="#" class="favorite-item-top-right-manage-like">
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill="#000" d="M8.9974 17.0417C8.73906 17.0417 8.48906 17.0084 8.28073 16.9334C5.0974 15.8417 0.0390625 11.9667 0.0390625 6.24171C0.0390625 3.32504 2.3974 0.958374 5.2974 0.958374C6.70573 0.958374 8.0224 1.50837 8.9974 2.49171C9.9724 1.50837 11.2891 0.958374 12.6974 0.958374C15.5974 0.958374 17.9557 3.33337 17.9557 6.24171C17.9557 11.975 12.8974 15.8417 9.71406 16.9334C9.50573 17.0084 9.25573 17.0417 8.9974 17.0417ZM5.2974 2.20837C3.08906 2.20837 1.28906 4.01671 1.28906 6.24171C1.28906 11.9334 6.76406 15.1 8.68906 15.7584C8.83906 15.8084 9.16406 15.8084 9.31406 15.7584C11.2307 15.1 16.7141 11.9417 16.7141 6.24171C16.7141 4.01671 14.9141 2.20837 12.7057 2.20837C11.4391 2.20837 10.2641 2.80004 9.50573 3.82504C9.2724 4.14171 8.73906 4.14171 8.50573 3.82504C7.73073 2.79171 6.56406 2.20837 5.2974 2.20837Z" fill="white" />
                                            </svg>
                                        </a>
                                        <a href="#" class="favorite-item-top-right-manage-chart">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.66797 18.3334H18.3346" stroke="#263141" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M8.125 3.33329V18.3333H11.875V3.33329C11.875 2.41663 11.5 1.66663 10.375 1.66663H9.625C8.5 1.66663 8.125 2.41663 8.125 3.33329Z" stroke="#263141" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M2.5 8.33329V18.3333H5.83333V8.33329C5.83333 7.41663 5.5 6.66663 4.5 6.66663H3.83333C2.83333 6.66663 2.5 7.41663 2.5 8.33329Z" stroke="#263141" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M14.168 12.5V18.3334H17.5013V12.5C17.5013 11.5834 17.168 10.8334 16.168 10.8334H15.5013C14.5013 10.8334 14.168 11.5834 14.168 12.5Z" stroke="#263141" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="favorite-item-suppliers">
                                <a href="" class="all">
                                    Все
                                </a>
                                <a href="">
                                    <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5035 0.0110485H25.8541V8.74458C25.8541 9.25222 25.56 9.70575 25.1329 9.89281C24.9994 9.94634 24.8388 9.99987 24.6788 9.99987C24.5221 10.0003 24.3672 9.96719 24.2244 9.90265C24.0816 9.83811 23.9543 9.74368 23.8512 9.62575L15.9718 3.67046V9.99987H13.6218V1.23928C13.6218 0.731637 13.9153 0.278107 14.3429 0.0910485C14.7965 -0.0960103 15.3041 0.0110485 15.6247 0.358107L23.5035 6.31399V0.0116367V0.0110485ZM38.1671 4.68458C37.9 4.39105 37.5788 4.17752 37.2318 4.01693C36.8697 3.85839 36.4788 3.77667 36.0835 3.77693H29.7806C29.4335 3.77693 29.1659 3.48281 29.1659 3.13575C29.1659 2.7887 29.4329 2.49458 29.78 2.49458H37.2588C37.9 2.49458 38.4341 1.93399 38.4341 1.26634C38.4341 0.571637 37.9 0.0369309 37.2588 0.0369309H29.78C29.38 0.0369309 28.9788 0.117519 28.6318 0.278107C28.2847 0.438107 27.9641 0.651637 27.6971 0.945754C27.429 1.23653 27.2122 1.57069 27.0559 1.93399C26.8971 2.31473 26.8155 2.72323 26.8159 3.13575C26.8159 3.56281 26.8959 3.9634 27.0559 4.33752C27.2165 4.71164 27.43 5.03164 27.6971 5.32575C27.9641 5.61987 28.2847 5.8334 28.6324 5.9934C28.9943 6.15213 29.3853 6.23405 29.7806 6.23399H36.0835C36.4306 6.23399 36.6977 6.52811 36.6977 6.87517C36.6977 7.22222 36.4306 7.51634 36.0835 7.51634H27.9906C27.3494 7.51634 26.8159 8.07693 26.8159 8.74458C26.8159 9.43869 27.35 9.9734 27.9906 9.9734H36.0835C36.4793 9.97617 36.8711 9.89392 37.2324 9.73222C37.5794 9.57222 37.9 9.3587 38.1671 9.06517C38.4352 8.77442 38.652 8.44026 38.8082 8.07693C38.9671 7.6962 39.0486 7.2877 39.0482 6.87517C39.0482 6.47458 38.9682 6.04693 38.8076 5.67281C38.6476 5.29928 38.4347 4.95164 38.1671 4.68458ZM12.2588 5.00575C12.2588 7.75693 10.1218 10.0005 7.50471 10.0005H0V0.0110485H7.47824C10.1229 0.0110485 12.2594 2.25458 12.2594 5.00517L12.2588 5.00575ZM9.98824 5.21987C9.98824 4.55164 9.82824 3.59046 9.37412 3.10987C8.92 2.6287 8.19882 2.20164 7.53118 2.20164H2.27059V7.7034H7.53235C8.2 7.7034 8.81471 7.43634 9.26824 6.98222C9.73116 6.51255 9.99028 5.87933 9.98941 5.21987H9.98824Z" fill="#F28A1E" />
                                    </svg>
                                </a>
                                <a href="">
                                    <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5035 0.0110485H25.8541V8.74458C25.8541 9.25222 25.56 9.70575 25.1329 9.89281C24.9994 9.94634 24.8388 9.99987 24.6788 9.99987C24.5221 10.0003 24.3672 9.96719 24.2244 9.90265C24.0816 9.83811 23.9543 9.74368 23.8512 9.62575L15.9718 3.67046V9.99987H13.6218V1.23928C13.6218 0.731637 13.9153 0.278107 14.3429 0.0910485C14.7965 -0.0960103 15.3041 0.0110485 15.6247 0.358107L23.5035 6.31399V0.0116367V0.0110485ZM38.1671 4.68458C37.9 4.39105 37.5788 4.17752 37.2318 4.01693C36.8697 3.85839 36.4788 3.77667 36.0835 3.77693H29.7806C29.4335 3.77693 29.1659 3.48281 29.1659 3.13575C29.1659 2.7887 29.4329 2.49458 29.78 2.49458H37.2588C37.9 2.49458 38.4341 1.93399 38.4341 1.26634C38.4341 0.571637 37.9 0.0369309 37.2588 0.0369309H29.78C29.38 0.0369309 28.9788 0.117519 28.6318 0.278107C28.2847 0.438107 27.9641 0.651637 27.6971 0.945754C27.429 1.23653 27.2122 1.57069 27.0559 1.93399C26.8971 2.31473 26.8155 2.72323 26.8159 3.13575C26.8159 3.56281 26.8959 3.9634 27.0559 4.33752C27.2165 4.71164 27.43 5.03164 27.6971 5.32575C27.9641 5.61987 28.2847 5.8334 28.6324 5.9934C28.9943 6.15213 29.3853 6.23405 29.7806 6.23399H36.0835C36.4306 6.23399 36.6977 6.52811 36.6977 6.87517C36.6977 7.22222 36.4306 7.51634 36.0835 7.51634H27.9906C27.3494 7.51634 26.8159 8.07693 26.8159 8.74458C26.8159 9.43869 27.35 9.9734 27.9906 9.9734H36.0835C36.4793 9.97617 36.8711 9.89392 37.2324 9.73222C37.5794 9.57222 37.9 9.3587 38.1671 9.06517C38.4352 8.77442 38.652 8.44026 38.8082 8.07693C38.9671 7.6962 39.0486 7.2877 39.0482 6.87517C39.0482 6.47458 38.9682 6.04693 38.8076 5.67281C38.6476 5.29928 38.4347 4.95164 38.1671 4.68458ZM12.2588 5.00575C12.2588 7.75693 10.1218 10.0005 7.50471 10.0005H0V0.0110485H7.47824C10.1229 0.0110485 12.2594 2.25458 12.2594 5.00517L12.2588 5.00575ZM9.98824 5.21987C9.98824 4.55164 9.82824 3.59046 9.37412 3.10987C8.92 2.6287 8.19882 2.20164 7.53118 2.20164H2.27059V7.7034H7.53235C8.2 7.7034 8.81471 7.43634 9.26824 6.98222C9.73116 6.51255 9.99028 5.87933 9.98941 5.21987H9.98824Z" fill="#F28A1E" />
                                    </svg>
                                </a>
                                <a href="">
                                    <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5035 0.0110485H25.8541V8.74458C25.8541 9.25222 25.56 9.70575 25.1329 9.89281C24.9994 9.94634 24.8388 9.99987 24.6788 9.99987C24.5221 10.0003 24.3672 9.96719 24.2244 9.90265C24.0816 9.83811 23.9543 9.74368 23.8512 9.62575L15.9718 3.67046V9.99987H13.6218V1.23928C13.6218 0.731637 13.9153 0.278107 14.3429 0.0910485C14.7965 -0.0960103 15.3041 0.0110485 15.6247 0.358107L23.5035 6.31399V0.0116367V0.0110485ZM38.1671 4.68458C37.9 4.39105 37.5788 4.17752 37.2318 4.01693C36.8697 3.85839 36.4788 3.77667 36.0835 3.77693H29.7806C29.4335 3.77693 29.1659 3.48281 29.1659 3.13575C29.1659 2.7887 29.4329 2.49458 29.78 2.49458H37.2588C37.9 2.49458 38.4341 1.93399 38.4341 1.26634C38.4341 0.571637 37.9 0.0369309 37.2588 0.0369309H29.78C29.38 0.0369309 28.9788 0.117519 28.6318 0.278107C28.2847 0.438107 27.9641 0.651637 27.6971 0.945754C27.429 1.23653 27.2122 1.57069 27.0559 1.93399C26.8971 2.31473 26.8155 2.72323 26.8159 3.13575C26.8159 3.56281 26.8959 3.9634 27.0559 4.33752C27.2165 4.71164 27.43 5.03164 27.6971 5.32575C27.9641 5.61987 28.2847 5.8334 28.6324 5.9934C28.9943 6.15213 29.3853 6.23405 29.7806 6.23399H36.0835C36.4306 6.23399 36.6977 6.52811 36.6977 6.87517C36.6977 7.22222 36.4306 7.51634 36.0835 7.51634H27.9906C27.3494 7.51634 26.8159 8.07693 26.8159 8.74458C26.8159 9.43869 27.35 9.9734 27.9906 9.9734H36.0835C36.4793 9.97617 36.8711 9.89392 37.2324 9.73222C37.5794 9.57222 37.9 9.3587 38.1671 9.06517C38.4352 8.77442 38.652 8.44026 38.8082 8.07693C38.9671 7.6962 39.0486 7.2877 39.0482 6.87517C39.0482 6.47458 38.9682 6.04693 38.8076 5.67281C38.6476 5.29928 38.4347 4.95164 38.1671 4.68458ZM12.2588 5.00575C12.2588 7.75693 10.1218 10.0005 7.50471 10.0005H0V0.0110485H7.47824C10.1229 0.0110485 12.2594 2.25458 12.2594 5.00517L12.2588 5.00575ZM9.98824 5.21987C9.98824 4.55164 9.82824 3.59046 9.37412 3.10987C8.92 2.6287 8.19882 2.20164 7.53118 2.20164H2.27059V7.7034H7.53235C8.2 7.7034 8.81471 7.43634 9.26824 6.98222C9.73116 6.51255 9.99028 5.87933 9.98941 5.21987H9.98824Z" fill="#F28A1E" />
                                    </svg>
                                </a>
                            </div>

                            <div class="favorite-item-bottom">
                                <div class="favorite-items-bottom-left">
                                    <div class="fovorite-item-bottom-left">
                                        <p class="price-text">Минимум <span>13%</span></p>
                                        <p class="fact-price">@item.MinPrice</p>
                                    </div>
                                    <div class="fovorite-item-bottom-left">
                                        <p class="price-text">Максимум <span>13%</span></p>
                                        <p class="fact-price">@item.MaxPrice</p>
                                    </div>
                                </div>
                                <div class="favorite-item-bottom-right">
                                    <ejs-chart id="@item.Id" background="none" width="100%" height="135px">
                                        <e-chart-primaryxaxis valueType="DateTime" labelFormat="d">
                                            
                                        </e-chart-primaryxaxis>
                                        <e-chart-primaryyaxis>
                                            
                                        </e-chart-primaryyaxis>
                                        <e-series-collection>
                                            <e-series fill="rgba(255, 0, 0, 0.5)" dataSource="@item.HistoryProduct"
                                                          xName="DateUpdate"
                                                          yName="Price"
                                                          type="SplineArea">
                                                <e-series-animation enable="true" duration="1000"></e-series-animation>
                                                <e-series-border width="1" color="rgba(255, 0, 0, 0.5)"></e-series-border>
                                                </e-series>
                                        </e-series-collection>
                                    </ejs-chart>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                <ejs-scripts></ejs-scripts>
                }
            </div>
        </div>
    </div>
}
